.chat-container {
  width: 400px;
  height: 600px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
}

.chat-window {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
  word-wrap: break-word; /* Ensures long text wraps within the box */
}

/* Client (user) messages */
.client-message {
  color: white;
  background-color: #ee8b2e;  /* Light green background for user messages */
  align-self: flex-end;       /* Align to the right */
  text-align: right;          /* Text is right-aligned */
  border-top-right-radius: 0; /* Sharp top-right corner */
}

/* Server messages */
.server-message {
  color: white;
  background-color: #9B3152;  /* Light grey background for server messages */
  align-self: flex-start;     /* Align to the left */
  text-align: left;           /* Text is left-aligned */
  border-top-left-radius: 0;  /* Sharp top-left corner */
}

.input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #9B3152;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #99415d;
}
